<p> Howdy, partner! </p>
     <p> 
     	<b> Someone has made a comment on your Nomster</b>
     	Check it out <%= link_to 'here', place_url(@place) %>
     	     	</p>

See ya later,Alligator, <br />
Rachael     